.container {
    list-style: none;
    padding-inline-start: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    & .rows {
        border: 1px solid rgba(51, 51, 51, 0.39);
        width: 100%;
        padding-top: 5px;

        box-sizing: border-box;
        border-radius: 0 0 12px 12px;
    }

    & a {

        padding: 0 20px;
        box-sizing: border-box;
        float: left;
        width: 100%;

    }
    
    & span {
        float: left;
        padding: 5px 3px;
        font-size: 16px;
        justify-content: center;

        &.id {
            width: 10%;
            max-width: 10%;
        }
        &.name {
            width: 20%;
            max-width: 20%;
        }
        &.gender {
            width: 10%;
            max-width: 10%;
        }

    }

}

.header {
    background-image: linear-gradient(
        to right,
        #5b7cf9,
        #5274f4,
        #4a6bef,
        #4163e9,
        #375be4
      );
    padding: 15px 20px;
    box-sizing: border-box;
    color: #eee;
    width: 100%;

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}