* {
  margin: 0;
  padding: 0;
}

$spacer: 1rem !default;
$spacers: ( 0:0 ) !default;
@for $i from 1 through 150 {
  $spacers: map-merge($spacers, (
  $i: ($i/4 * $spacer)
  ));
}

.container .col .col, .container .card {

  box-shadow: 0 0 30px rgba(189, 189, 189, 0.171);
  margin: 20px;

}

@import 'node_modules/bootstrap/scss/bootstrap'
